*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #ad3867;
   font-family: Arial, sans-serif;

}
li{
   list-style: none;
}

.fa-light{
   width: 50px;
   height: 50px;
}

.logo{
   width: 20%;
   height: 20%;
   display: absolute;
   top: 10px;
   left: 40px;
   margin: 0 auto;
}

.user-container {
   position: absolute;
   top: 30%;
   left: 38%;
   border-radius: 15px;
   width: 25%;
   margin: 0 auto;
}

.swiper {
   position: absolute;
   top: 35%; 
   background-color: transparent;
   border: none;
   font-size: 24px; 
   cursor: pointer;
}

.left-swiper {
   left: 30%; 
   height: 25%;
   font-size: 80px;
   color: white;
   text-shadow: 2px 2px 4px #000000;
}

.right-swiper {
   right: 30%; 
   height: 25%;
   font-size: 80px;
   color: white;
   text-shadow: 2px 2px 4px #000000;
}

.btn {
   width: 80px;
   height: 80px;
}

button {
   border-radius: 50%;
   margin-right: 15px;
}

.gender-btns {
   position: absolute;
   top: 80%; /* Juster denne verdien etter behov */
   left: 38%;
   width: 25%;
   text-align: center;
}



.like-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    width: 400px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid white;
    padding: 50px;
    margin-left: auto;
    margin-right: 100px;
 }

.like-list li {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
   border-bottom: 1px solid white; /* Legger til en grense i bunnen av hvert listeelement */
   padding-bottom: 10px; /* Legger til litt plass under teksten og over grensen */
}

 
.user-container h1, p{
   text-align: center;
}

.user-container img{
   width: 60%;
   height: 60%;
   margin: 0 auto;
   display: block;
   border-radius: 10px;
}


.female{
   background-color: pink;
   padding: 10px;
   border-radius: 10px;
}

.male{
   background-color: lightblue;
   padding: 10px;
   border-radius: 10px;
}


.delete-btn, .edit-btn{
   margin-left: 25px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px;
}

.points-container {
   position: fixed; 
   top: 50px; 
   right: 150px; 
   width: 100px;
   height: 100px; 
   border-radius: 50%;
   background-color: white; 
   display: flex; 
   justify-content: center; 
   align-items: center; 
}

.point-counter {
   font-size: 50px; 
   font-weight: bold;
}

.gender-preference {
  position: absolute;
  top: 75%; /* Adjust this value as needed */
  left: 38%;
  width: 25%;
  text-align: center;
  color: white;
  font-weight: bold;
}