
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #ad3867;
   font-family: Arial, sans-serif;

}
li{
   list-style: none;
}

.fa-light{
   width: 50px;
   height: 50px;
}

.logo{
   width: 20%;
   height: 20%;
   display: absolute;
   top: 10px;
   left: 40px;
   margin: 0 auto;
}

.user-container {
   position: absolute;
   top: 30%;
   left: 38%;
   border-radius: 15px;
   width: 25%;
   margin: 0 auto;
}

.swiper {
   position: absolute;
   top: 35%; 
   background-color: transparent;
   border: none;
   font-size: 24px; 
   cursor: pointer;
}

.left-swiper {
   left: 30%; 
   height: 25%;
   font-size: 80px;
   color: white;
   text-shadow: 2px 2px 4px #000000;
}

.right-swiper {
   right: 30%; 
   height: 25%;
   font-size: 80px;
   color: white;
   text-shadow: 2px 2px 4px #000000;
}

.btn {
   width: 80px;
   height: 80px;
}

button {
   border-radius: 50%;
   margin-right: 15px;
}

.gender-btns {
   position: absolute;
   top: 80%; /* Juster denne verdien etter behov */
   left: 38%;
   width: 25%;
   text-align: center;
}



.like-list{
   position: absolute;
   right: 100px;
   top: 30%;
   color: white;
   font-size: 20px;
   font-weight: bold;
   border: 2px solid white;
   padding: 50px;
}

.user-container h1, p{
   text-align: center;
}

.user-container img{
   width: 60%;
   height: 60%;
   margin: 0 auto;
   display: block;
   border-radius: 10px;
}


.female{
   background-color: pink;
   padding: 10px;
   border-radius: 10px;
}

.male{
   background-color: lightblue;
   padding: 10px;
   border-radius: 10px;
}
